<form #changepassForm = "ngForm" (ngSubmit)="changePass()">
    
        <label for="pass1" class="form-label">Enter old password</label>
        <input id="pass1" class="form-control" #pass1="ngModel" (input)="validateOldPass()" type="text" name="oldpass" [ngModel]="oldPassword" required minlength="4">
        <!-- <div *ngIf=( pass1.value == userDetails.password) ></div> -->
        <div *ngIf="pass1.invalid && (pass1.dirty ||pass1.touched)" style="color: red;">
            <div *ngIf="pass1.errors?.required">password is required</div>
            <div *ngIf="pass1.errors?.minlength">Name must contain min 4 letters</div>
            <div *ngIf="pass1.value != userDetails.password" >Enter valid password</div>
        </div> 

        <br>
        <label for="pass2" class="form-label">Enter new password</label>
        <input id="pass2" class="form-control" #newpass="ngModel"  type="text" name="pass2" [ngModel]="firstPassword" required>
    
        <br>
   
        <label for="pass3" class="form-label">Enter confirm password</label>
        <input id="pass3" class="form-control" #conpass="ngModel" type="text" name="pass3" [(ngModel)]="secondPassword" required>
        <div *ngIf="conpass.touched">
         <div *ngIf="(newpass.value != conpass.value )" style="color:red">Both password are not same</div> 
        </div>

        <input type="submit" class="btn btn-primary" style="margin-bottom: 100px;" [disabled]="!changepassForm">
</form> 

