<form #changepassForm = "ngForm" (ngSubmit)="changePass()">
    
        <label for="pass1" class="form-label">Enter old password</label>
        <input id="pass1" class="form-control" #pass1="ngModel" (input)="validateOldPass()" type="text" name="oldpass" [ngModel]="oldPassword" required minlength="4">
        <!-- <div *ngIf=( pass1.value == userDetails.password) ></div> -->
        <div *ngIf="pass1.invalid && (pass1.dirty ||pass1.touched)" style="color: red;">
            <div *ngIf="pass1.errors?.required">password is required</div>
            <div *ngIf="pass1.errors?.minlength">Name must contain min 4 letters</div>
            <div *ngIf="pass1.value != userDetails.password" >Enter valid password</div>
        </div> 

        <br>
        <label for="pass2" class="form-label">Enter new password</label>
        <input id="pass2" class="form-control" #newpass="ngModel"  type="text" name="pass2" [ngModel]="firstPassword" required>
    
        <br>
   
        <label for="pass3" class="form-label">Enter confirm password</label>
        <input id="pass3" class="form-control" #conpass="ngModel" type="text" name="pass3" [(ngModel)]="secondPassword" required>
        <div *ngIf="conpass.touched">
         <div *ngIf="(newpass.value != conpass.value )" style="color:red">Both password are not same</div> 
        </div>

        <input type="submit" class="btn btn-primary" [disabled]="!changepassForm">
</form> 

<!-- <form >
    <div class="row">
        <div class="col-md-4">
          <label  class="form-label">First name</label>
          <input type="text" [class.is-invalid]="ufname.invalid && ufname.touched" class="form-control" #ufname="ngModel" name="firstName" [(ngModel)]='oldPassword'
            placeholder="Enter First Name" required>
    </div>
    <div class="col-md-4">
       <small class="text-danger" [class.d-none]="ufname.valid || ufname.untouched" >&nbsp; ! First name is required</small>
      </div>
    <div class="col-md-4">
          <label for="validationemail" class="form-label" >Email</label>
          <input type="text" [class.is-invalid]="uemail.invalid && uemail.touched" #uemail="ngModel" class="form-control" name="email" [(ngModel)]='firstPassword'
             placeholder="example@email.com" required>
        </div>
     <div  *ngIf="uemail.errors && (uemail.dirty || uemail.touched)">
        <small class="text-danger" *ngIf="uemail.errors.required">&nbsp; ! Email is required</small>
        <small class="text-danger" *ngIf="uemail.errors.pattern">&nbsp; ! Enter valid email id</small>
        
      </div>
</form> -->


<!-- 

<div>
    <form #myForm="ngForm" (ngSubmit)="changePass()">

        
            <div>
                <label for="password0">Enter Old Password </label> 
                <<input type="text" name="password0" [(ngModel)]="oldPassword" required >
                
            </div>
            <div>
                <label for="password1">Enter new Password </label> 
                <input type="text" name="password1" [( ngModel)]="firstPassword" required>
            </div>
            <div>
                <label for="password2">Enter confirm Password </label> 
               <input type="text" name="password2" [(ngModel)]="userDetails.password" required >
                <br> <br>
                 <div *ngIf = "!()" >Both passwords are not same</div>  -->
            <!-- </div>
            <div>
                
                <input type="submit" value="SUBMIT" [disabled]="!myForm.valid">
            </div>
            
            {{oldpass.ngdirty}} -->
       


















    <!-- <form #passwordForm = ngForm (ngSubmit) = "func()">

    

    <label>First Password: </label><input type="password" [(ngModel)]="firstPassword" required/>

    <label>Re Enter Password: </label><input type="password" [(ngModel)]="secondPassword" required/>

    

        <input type="button"  value="Test"/> 
        <td><input type="submit" value="SUMBIT" [disabled]="!passwordForm.valid"></td>    

    

    </form> -->