<!-- 
<form #feedbackForm="ngForm" (ngSubmit)="addFeedback()">
    <!-- <label for="feedbackId" class="form-label" >Enter Feedback id</label>
    <input id="feedbackId" class="form-control" type="text" name="feedbackId" [(ngModel)]="feedback.feedbackId"> //
    <label for="feedbackMsg" class="form-label" > Share your Feedback</label>
    <input id="feedbackMsg" class="form-control" type="text" name="feedbackmsg" [(ngModel)]="feedback.feedbackMsg" required>
    <input type="submit" class="btn btn-primary" name="submit" value="feedback" [disabled]="!feedbackForm.valid">
</form> -->
