<div class="container" style="margin-top: 20px;">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form #myForm="ngForm" (ngSubmit)="saveData()">
            <table>
                <tr>
                    <td><label for="seatId"></label>SEAT ID</td>
                    <td><input type="text" class="form-control" name="seatId" [(ngModel)]="seat.seatId" required></td>
                </tr>
                <tr>
                    <td><label for="busId"></label>BUS ID</td>
                    <td><input type="text" class="form-control" name="busId" [(ngModel)]="seat.busId" required></td>
                </tr>
                <tr>
                    <td><label for="availability"></label>AVAILABILITY</td>
                    <td><input type="text" class="form-control" name="availability" [(ngModel)]="seat.availability"
                            required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" style="margin-top: 30px; margin-bottom: 100px;" type="submit" value="Save Seats" [disabled]="!myForm.valid">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>