<!-- <app-addpassenger></app-addpassenger>
<app-payment></app-payment>
<app-showpassenger></app-showpassenger>
<app-searchpassenger></app-searchpassenger>
<app-updatepassenger></app-updatepassenger> -->

<!-- <app-userlogin></app-userlogin> -->
<!-- <app-signup></app-signup> -->

<div id="header">
    <h1 ><b>EXTRA MILE</b></h1>
    <h5>~Travel your destiny with us~</h5>
</div>



<div class="topnav">
    <!-- <img class="logo-img" src="assets/bus.JPG" width="130" height="200" ALT="align box" ALIGN=CENTER> -->
    <ul>
   
    <li><a routerLink="signup">Signup</a></li>
    <li><a routerLink="userlogin">User Login</a></li>
    <li><a routerLink="adminlogin">Admin Login</a></li>
    <li><a routerLink="book">Book Bus</a></li>
    <li><a routerLink="cancel">Cancellation</a></li>
    <li><a routerLink="signout">Logout</a></li>
    

    <!-- <img src="assets/bus.JPG"  width="300px" height="10000px" > -->
</ul>
<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="signout">Logout</a>
      <img src="assets/bus.JPG" width="30" height="30" class="d-inline-block align-top" alt=""> 
      
    
  </nav>-->

</div>
<div id="main" class="body">
    <img src="/src/assets/bg.JPG" alt="">
    
<router-outlet></router-outlet>
</div>

<div class="footer">
    <p>© 2021 Larsen & Toubro Infotech Limited</p>
  </div>
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div> -->

<!-- <div id="footer">
    copyright
</div> -->


